<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Department Page</h1>
    <a href="/department/add" class="btn btn-success">Yangi Department Qo'shish</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Company</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" department,i : ${list}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${department.name}"></td>
            <td th:text="${department.company.name}"></td>
            <td>
                <a class="btn btn-warning" th:href="${'/department/edit/'+department.id}">Edit</a>
                <a class="btn btn-danger" th:href="${'/department/delete/'+department.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>